@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$textColor: #EAEAEA;
$clickableColor: #9AC9FF;
$activeColor: #494949;
$logColor: #292929;
$font: 'Roboto', sans-serif;
